.general{
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 3rem;
}
.imagen{
    width: 10rem;
    height: 9rem;
}
.algo{
    margin: 15px;
}

.img{
    width: 100%;
}